[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask-restful = "*"
python-dotenv = "*"
flask-cors = "*"
firebase-admin = "*"
pyopenssl = "*"

[dev-packages]

[requires]
python_version = "3.8"
